.venv/
__pycache__/
*.pyc
*.pyo
*.DS_Store
.env
book/kindle/export/
dist/
build/
.coverage
htmlcov/
.mypy_cache/
.pytest_cache/
*.log
/.cache
/book/backup
/site
uv.lock
*.zip
/src/mcpws.egg-info
/backup
